#!/sbin/openrc-run
# {{ ansible_managed }}
# Copyright 1999-2017 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

: ${REDIS_DIR:=/var/lib/redis-{{ redis_service_loop.id }}}
: ${REDIS_CONF:=/etc/redis/redis-{{ redis_service_loop.id }}.conf}
: ${REDIS_OPTS:="${REDIS_CONF}"}
: ${REDIS_USER:={{ redis_service_loop.user }}}
: ${REDIS_GROUP:={{ redis_service_loop.user }}}
: ${REDIS_TIMEOUT:=30}

# https://bugs.gentoo.org/631002#c10
# Force '--daemonize no' to override the config file
command="/usr/sbin/redis-server"
command_args="${REDIS_OPTS} --daemonize no"
command_background="true"
command_user="${REDIS_USER}:${REDIS_GROUP}"
pidfile="/run/${RC_SVCNAME}.pid"
retry="${REDIS_TIMEOUT}"
start_stop_daemon_args="--chdir \"${REDIS_DIR}\""

depend() {
        use localmount logger
        after keepalived
}
